.eye {
    animation-name: view;
  }
  
  @keyframes view{
    from {
      margin-left: 1%;
     
    }
  
    to {
      margin-left: -1%;
      width: 100%;
      opacity: 60%;
    }
  }
.bor{
  border: 5px solid red;

}
body{
   background-color: black;
}
.items{
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
span{
    color: rgba(255, 0, 0, 0.521);
}
.eye{
    height:200px;
    animation-duration: .1s;
    animation-name: view;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.risita{
  position: static;
    height: 450px;
    margin-left: 455px;
    margin-bottom: -75px;
    margin-top: -350px;
    
}.detalles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.obj{
  position: static;
  border: 5px solid red;
  display:flex;
  flex-direction: column;
  max-height: fit-content;
  min-height: 500px;

}
.desck{
  max-width: fit-content;
}
.consult{
  padding-top: -1000px;
}
.contenedorImg{
  width: fit-content;
  height: fit-content;
}
.sitioImg img{
  height: 300px;
  width: auto;
  border: 5px solid red;
}
.angry{
  margin-left: 400px;
  margin-top: -190px
  
}
.cartel{
  max-width: fit-content;
  position: fixed;
  animation-duration: 2s;
  animation-name: view;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  padding-left: 1050px;
  
  transition: 10s;
}
.cartel:hover{
  height: 0px;

}
.face{
  position: relative;
}
