.sady{
    animation-name: valance;
}
@keyframes valance{
    from {
        transform: rotate(-45deg);
    }
  
    to {
        transform: rotate(45deg);
    }
  }
.sady{
    position: sticky;
    height: 150px;
    animation-duration: 5s;
    animation-name: valance;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.sadyB{
    height: 0px;
    position: static;

}