*{
    color:violet;
}
.contador{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    cursor: crosshair;
}

button{
    background-color: aqua;
    width:fit-content;
    height: fit-content;

}
button:hover{
    background-color: blueviolet;
    color: chartreuse;
    cursor: grab;
}
.display{
    height: fit-content;
    width: fit-content;
}