.botu img{
    height: 80px;
    position: relative;
}

.compra{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.contador{
    display: flex;
    flex-direction: row;
}
.buys{
    color: white;
    font-size: xx-large;
    text-decoration: double;
}