.carlos{
    display: flex;
    flex-direction: row;
}
.eliminar{
    background-color: red;
}
.image{
    height: 100px;
}
.elim{
    
}
.empy{
    background-color: red;
}
.buy{
    background-color: green;
    font-size: xx-large;
}