@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

*{
    font-size: xx-large;
    color: rgb(255, 0, 0);
}
a{
    color: violet;
    text-decoration: none;
       

}
a:hover{
    text-decoration: underline;
    background-color: rgb(0, 93, 105); 
}
#hud{
   display: flex;
   justify-content: space-around;
   font-size: 50px;
   background: rgb(0,0,0);
   background: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgba(255,235,0,1) 86%);
   color: black;  
   min-height: 20vh;
}
#logo{
   color: white;
   background-color: rgb(114, 33, 190);
   font-size: 50px;
   
}
.CarlosCarlin{
    height: 75px;
    margin-top: 7px;
    margin-bottom: 10px;
}
.CarlosCarlin:hover{
    border: 5px solid red;
    height: 76px;
    transition: .1s;
}
.numeral{
    font-size: 25px ;
    margin-top: -80px;
    margin-left: -50px;
    color: blueviolet;
}
.logo{
    margin-top: 15px;
    width: 100px;
   -webkit-animation: 4s rotate linear infinite;
    animation: 4s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.logo:hover{
    -webkit-animation: 3s rotate linear infinite;
    animation: .2s rotate linear infinite;

}
#referente{
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgba(255,235,0,1) 86%);
    color: rgb(0, 0, 0);  
    margin-left: -56px;
}
.botones{
    margin-left: 15px;
}
.botones:hover{
    width: 30px;
    background-color: chartreuse;
}
.smay{
    padding-top:24px;
    height: 55px;
    padding-left:-100;
    overflow: wrap;
}
